**/__pycache__/
.vscode/
src/paperscode/git
src/paperscode/shell
src/paperscode/backprop/

*.pdf
*.png

master_prompt.md

books_and_papers/
src/paperscode/**/runs/
src/paperscode/**/0_implementations.md

