**/__pycache__/
.vscode/
src/paperscode/git
src/paperscode/shell
src/paperscode/backprop/

*.pdf
*.png

src/paperscode/**/master_prompt.md

books_and_papers/
src/paperscode/**/runs/
src/paperscode/**/implementations.md

